{{#each catInfo.catGallery}}
<img src="{{this}}" />
{{/each}}


<div>
    <h3>Name</h3>
    <h4>{{catInfo.catName}}</h4>
    <h3>Gender</h3>
    <h4>{{catInfo.catGender}}</h4>
    <h3>Cat Age</h3>
    <h4>{{catInfo.catAge}}</h4>
    <h3>Cat Altered</h3>
    <h4>{{catInfo.catIsAltered}}</h4>
</div>