<main>
<dd>
    {{#each renderData.catGallery}}
    <img src={{this}} alt= {{userCat.catName}}/> 
    {{/each}}
</dd>


<div> 

    <h3>Name</h3>
    <h4>{{renderData.catInfo.catName}}</h4>
    <h3>Gender</h3>
    <h4>{{renderData.catInfo.catGender}}</h4> 
    <h3>Cat Age</h3>
    <h4>{{renderData.catInfo.catAge}}</h4> 
    <h3>Cat Altered</h3>
    <h4>{{renderData.catInfo.catIsAltered}}</h4> 

</div>
  
</main>
