<main>
<dd>
    {{#each renderData.catGallery}}
    <img src={{this}} alt= {{userCat.catName}}/> 
    {{/each}}
</dd>


<div> 

    <h3>Name</h3>
    <h4>{{renderData.catInfo.catName}}</h4>
    <h3>Gender</h3>
    <h4>{{renderData.catInfo.catGender}}</h4> 
    <h3>Cat Age</h3>
    <h4>{{renderData.catInfo.catAge}}</h4> 
    <h3>Cat Altered</h3>
    <h4>{{renderData.catInfo.catIsAltered}}</h4> 

</div>

    <dt>Comments</dt> 
    <dd> 
      <ol> 
        {{#each renderData.userInfo.userComments}}
            <div>{{this.commenterId}}</div>
                <dd>
                    {{this.commentText}}
                </dd>
                <dd>
                    <button type="post">Like</button>
                    <button type="clear">Dislike</button>
                </dd>
            {{/each}} 
      </ol> 
    </dd>

    <main>
        <form action="/catInfo/{{renderData.userInfo.userId}}" method="PATCH">
            <label for="add-comment">
                Comment
                <input type="text" name="addcomment" placeholder="Write Comment"/>
            </label>
            <button type="submit">Post Comment</button>
            <button type="reset">Clear</button>
        </form>

    </main>
          <br></br>
</main>
