{{#each userInfo.userCat.catGallery}}
  <img src="{{this}}" />
{{/each}}

<div>
  <h3>Name</h3>
  <h4>{{userInfo.userCat.catName}}</h4>
  <h3>Gender</h3>
  <h4>{{userInfo.userCat.catGender}}</h4>
  <h3>Cat Age</h3>
  <h4>{{userInfo.userCat.catAge}}</h4>
  <h3>Cat Altered</h3>
  <h4>{{userInfo.userCat.catIsAltered}}</h4>
</div>
<dt>Comments</dt>
<dd>
  <ol>
    {{#each userInfo.userComments}}
      <div>{{this.commenterId}}</div>
      <dd>
        {{this.commentText}}
      </dd>
      <dd>
        <button type="post">Like</button>
        <button type="clear">Dislike</button>
      </dd>
    {{/each}}
  </ol>
</dd>
<form action="/catInfo/{{userInfo.userId}}" method="PATCH">
  <label for="add-comment">
    Comment
    <input type="text" name="addcomment" placeholder="Write Comment" />
  </label>
  <button type="submit">Post Comment</button>
  <button type="reset">Clear</button>
</form>
<div id="reportDiv">
  <button id="reporting">Report</button>
  <div id="report" hidden>
    <form id="reportForm">

      <h2>Report User</h2>

      <label for="detailInput">Pick violation:</label>
      <select name="reason" id="reason">
        <option value="fake">Fake Account</option>
        <option value="spam">Spammer</option>
        <option value="harass">Harassment</option>
      </select>
      <textarea type="text" name="details" id="details"></textarea>
      <input name="get-id" value={{userInfo._id}} id="get-id" hidden />
      <input type="submit" id="submitButton" />

    </form>
  </div>
  <div id="submissionInfo"></div>
</div>