<div class="card" id="cat-info-container">
  <div class="card-header">
    <h4 id=" cat-info-cat-name" class="card-title">{{catInfo.catName}}</h4>
    {{#if isCurrentUser}}
    <div id="user-settings-container">
      <button id="user-info-settings-button" class="btn btn-info btn-block btn-sm" type="button"><i
          class="fa-solid fa-user-gear"></i></button>
    </div>
    {{/if}}
  </div>
  {{#each catInfo.catGallery}}
  <div class="img-container">
    <img class="card-img-top" src="{{this}}" title="{{../catInfo.catName}} Picture {{@index}}"
      alt="{{../catInfo.catName}} Picture {{@index}}" />
  </div>
  {{/each}}
  <div class="card-body">
    <h4 class="card-subtitle">Gender:</h4>
    <h5>{{catInfo.catGender}}</h5>
    <h4 class="card-subtitle">Cat Age:</h4>
    <h5>{{catInfo.catAgeYears}} Year(s) and {{catInfo.catAgeMonths}} Month(s)</h5>
    <h4 class="card-subtitle">Cat Altered:</h4>
    <h5>
      {{#if catInfo.catIsAltered}}
      Yes
      {{else}}
      No
      {{/if}}
    </h5>
    <h4 class="card-subtitle">Bio:</h4>
    <div>
      <p class="card-text">{{userBio}}</p>
    </div>
  </div>
</div>
<div class="flex-column align-items-center" id="comment-container">
  {{#if hasComments}}
  <div class="card">
    <div class="card-header">
      <h4>Comment(s):</h4>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {{#each comments}}
        <li id="comment-{{@index}}" class="comment list-group-item">
          <h5 class="card-title">{{this.commenterName}}<span> Score: {{this.commentLikeSum}}</span></h5>

          <div class="card-text">{{this.commentText}}</div>
          <form id="comment-like-form-{{@index}}">
            {{#if isLikeActive}}
            <button class="active user-info-like-button btn btn-outline-primary btn-block btn-sm"
              id="comment-like-{{@index}}" type="button"><i class="fa-solid fa-thumbs-up"></i></button>
            {{else}}
            <button class="user-info-like-button btn btn-outline-primary btn-block btn-sm" id="comment-like-{{@index}}"
              type="button"><i class="fa-regular fa-thumbs-up"></i></button>
            {{/if}}
            {{#if isDislikeActive}}
            <button class="active user-info-dislike-button btn btn-outline-primary btn-block btn-sm"
              id="comment-dislike-{{@index}}" type="button"><i class="fa-solid fa-thumbs-down"></i></button>
            {{else}}
            <button class="user-info-dislike-button btn btn-outline-primary btn-block btn-sm"
              id="comment-dislike-{{@index}}" type="button"><i class="fa-regular fa-thumbs-down"></i></button>
            {{/if}}
          </form>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
  <div class="card flex-column align-items-center">
    <form id="comment-new-form">
      <input type="hidden" id="comment-new-target-id" name="comment-new-target-id" value="{{id}}" />
      <div><label for="comment-new-text">
          <h5 class="card-title"> New Comment</h5>
        </label>
      </div>
      <div><textarea id="comment-new-text" name="comment-new-text" cols="50" rows="5"></textarea></div>
      <div>
        <button id="comment-new-submit-button" class="btn btn-primary" type="submit">Post Comment</button>
        <button id="comment-new-reset-button" class="btn btn-primary" type="reset">Clear</button>
      </div>
    </form>
  </div>
</div>
{{#unless isCurrentUser}}
<div class="card" id="report-container">
  <button id="reporting" class="btn btn-danger">Report</button>
  <div id="report" class="card" style="display: none;">
    <div class="card-header">
      <h5>Report User</h2>
    </div>
    <form id="reportForm">
      <div class="card align-items-center justify-content-center">
        <div>
          <label for="detailInput">Pick violation:</label>
        </div>
        <div> <select name="reason" id="reason">
            <option value="fake">Fake Account</option>
            <option value="spam">Spammer</option>
            <option value="harass">Harassment</option>
          </select>
        </div>
        <div>
          <textarea type="text" name="details" id="details" cols="50" rows="5"></textarea>
        </div>
        <input type="hidden" name="get-id" value={{id}} id="get-id" />
        <div>
          <button id="comment-new-submit-button" class="btn btn-danger" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div id="submissionInfo"></div>
</div>
{{/unless}}